soapsubscriber/wsdlgen/src/main/resources/DemoObject.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://isisaddons.org/module/publishmq/soapsubscriber/DemoObject/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DemoObject" targetNamespace="http://isisaddons.org/module/publishmq/soapsubscriber/DemoObject/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://isisaddons.org/module/publishmq/soapsubscriber/DemoObject/">
      <xsd:element name="Processed">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="description" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ProcessedResponse">
        <xsd:complexType>
          <xsd:all>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:all>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProcessedRequest">
    <wsdl:part element="tns:Processed" name="body"/>
  </wsdl:message>
  <wsdl:message name="ProcessedResponse">
    <wsdl:part element="tns:ProcessedResponse" name="body"/>
  </wsdl:message>
  <wsdl:portType name="DemoObject">
    <wsdl:operation name="Processed">
      <wsdl:input message="tns:ProcessedRequest"/>
      <wsdl:output message="tns:ProcessedResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DemoObjectSOAP" type="tns:DemoObject">
      <soap:binding style="document"
          transport="http://schemas.xmlsoap.org/soap/http" />
      <wsdl:operation name="Processed">
          <soap:operation
              soapAction="http://isisaddons.org/module/publishmq/soapsubscriber/DemoObject/Processed" />
          <wsdl:input>
              <soap:body use="literal" />
          </wsdl:input>
          <wsdl:output>
              <soap:body use="literal" />
          </wsdl:output>
      </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DemoObjectService">
    <wsdl:port binding="tns:DemoObjectSOAP" name="DemoObjectOverSOAP">
      <soap:address location="http://localhost:8080/soap/SoapSubscriber/DemoObject"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
